* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 56px;
}
.img {
  display: flex;
  border: 1px double #ccc;
  background: white;
  margin: 5px;
  border-radius: 6px;
}
.img img {
  margin-top: 0.6rem;
  width: 20px;
  height: 20px;
  margin-left: 0.5rem;
}

.logo {
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  margin-left: 4rem;
  width: 50%;
  height: 50%;
}
.section-tenda {
  position: absolute;
  top: 13%;
  left: 37%;
  bottom: 10;
  box-shadow: rgb(194, 187, 176) 0px 0px 12px;
  line-height: 3rem;
  translate: transition(-50%, 50%);
}
input {
  padding: 13px 25px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.btn {
  padding: 13px 25px;
  border-radius: 5px;
  margin-top: 2rem;
  background: #e3681a;
  outline: none;
  border: none;
  color: white;
  font-size: 1.1rem;
}
.add {
  cursor: pointer;
  color: rgb(182, 177, 177);
}

.para {
  position: absolute;
  top: 84%;
  line-height: 3rem;
  translate: transition(-50%, 50%);
  display: none;
}
.show {
  display: block;
}
@media (max-width: 700px) {
  .section-tenda {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: none;
  }
  input {
    width: 100%;
    padding: 14px 36px;
  }
  .container {
    padding: 40px;
  }
  .img img {
    margin-top: 0.7rem;
  }
}
