* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f1f1;
}
.pass p {
  display: none;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 56px;
  padding-left: 6rem;
}
.img {
  display: flex;
  border: 1px double #ccc;
  background: white;
  margin: 5px;
  border-radius: 6px;
}
.img img {
  margin-top: 0.4rem;
  width: 30px;
  height: 30px;
  margin-left: 1rem;
}

.logo {
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  margin-left: 5rem;
  width: 45%;
  height: 45%;
}
.section-tenda {
  position: absolute;
  top: 15%;
  left: 30%;
  box-shadow: 10px 10px 10px 10px #ccc;
  line-height: 3rem;
  translate: transition(-50%, 50%);
}
input {
  padding: 16px 25px;
  border: None;
  width: 80%;
  outline: None;
}
.btn {
  padding: 16px 25px;
  border-radius: 5px;
  margin-top: 2rem;
  background: #a64a10;
  outline: none;
  border: none;
  color: #c3c1be;
  font-size: 1rem;
}
.btn:hover {
  cursor: pointer;
}
a {
  color: #212425;
  text-decoration: none;
}
