* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f1f1;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 56px;
}
.img {
  display: flex;
  border: 1px double #ccc;
  background: white;
  margin: 5px;
  border-radius: 6px;
}
.img img {
  margin-top: 0.4rem;
  width: 30px;
  height: 30px;
  margin-left: 1rem;
}

.logo {
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  margin-left: 5rem;
  width: 45%;
  height: 45%;
}
.section-tenda {
  position: absolute;
  top: 10%;
  left: 35%;
  bottom: 10;
  box-shadow: 1px 1px 5px #ccc;
  line-height: 3rem;
  translate: transition(-50%, 50%);
}
input {
  padding: 16px 25px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.btn {
  padding: 16px 25px;
  border-radius: 5px;
  margin-top: 2rem;
  background: #a64a10;
  outline: none;
  border: none;
  color: #c3c1be;
  font-size: 1rem;
}

.add {
}
.add:hover {
  cursor: pointer;
}

.para {
  position: absolute;
  top: 84%;
  line-height: 3rem;
  translate: transition(-50%, 50%);
  display: none;
}
.show {
  display: block;
}
@media (max-width: 700px) {
  .section-tenda {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: none;
  }
  input {
    width: 100%;
    padding: 19px 36px;
  }
  .container {
    padding: 40px;
  }
}
